$btn-color:hsl(322, 100%, 66%);
$btn-color-light:hsl(321, 100%, 78%);
$bg-color:hsl(192, 100%, 9%);
$bg-color-pale:hsl(207, 100%, 98%);
$btn-color-red:hsl(0, 100%, 63%);
$btn-social-color: hsl(210, 89%, 64%);